/* header */
.header-title{
    display: flex;
    align-items: center;
    color: #FA6980;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 3px;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 100; 
     
    
}
.header-navigation{  
    margin-left: 92px;
    
    
}
.navigation-div{ 
    display: flex;
    align-items: center;
    
} 
.li-class{
    padding-right: 27px;
    
}
.li-colors{
    color: #343638;
    font-size: 11px;
}
.active{
    color: black;
}
/* first-section */
.firstsection-divwidth{
    width: 1160px;
    margin: 0 auto;
    background: #F6F8F9;
}
.first-sectiondiv{
   display: flex;
    margin-top: 48px;
    margin-bottom: 25px; 
}
.first-sectiontitle{
    font-size: 24px;
}


.first-sectionimages{
    display: inline-block;
    position: relative;
}
.position-text{
    position: absolute;
    top: 28px;
    left: 40px;
    right: 40px;
    color: #fff;
}
.active1{
    margin-right: 36px;
}
.active2{
    margin-right: 36px; 
}

.left-block-sectionone{
    display: flex;
    width: 360px ;
    height:180px ;
    background-color: #fff;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;  
    font-size: 13px;
    color: #A6ADB4;
    border-radius: 0 0 23px 23px  ;
}
.middle-block-sectionone{
    display: flex;
    width: 360px ;
    height:180px ;
    background-color: #fff;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;      
    font-size: 13px;
    color: #A6ADB4;
    border-radius: 0 0 23px 23px  ;
}
.right-block-sectionone{
    display: flex;
    width: 360px ;
    height:180px ;
    background-color: #fff;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;      
    font-size: 13px;
    color: #A6ADB4;
    border-radius: 0 0 23px 23px  ;
}
.block-conteiner{
    display: flex;
    justify-content: space-between;

}
body{
    background: #F6F8F9;


}
/* second-section */
.secondsection-divwidth{
    width: 1160px;
    margin: 0 auto;
    background: #F6F8F9;   
}
.secondsection-title{
  display: flex;
  flex-direction: row;
  margin-top: 70px ;
  font-size: 24px;
  
}
.second-left-div-block{
    display: flex;
    flex-direction: column;
    width: 760px ;
    height: 900px;
}
.second-left-image{
    position: relative;
    display: flex;
    padding-top: 40px;
    margin-bottom: 20px;
}
.text-position2{
    position: absolute;
    top: 194px;
    right: 172px;
    left: 308px;
    color: #fff;
}
.second-conteiner-box{ 
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding-top:49px ;
}

.second-right-div-block{
    display: flex;
    /* margin-top: 58px; */
    flex-wrap: wrap;
    width: 360px;
    height: 210px;
}
.second-right-image{
    display: flex;
    padding-top: 40px;
    margin-bottom: 40PX;
}
.footer-conteiner{
    background: #A6ADB4;
    margin-top: 58px;
    display: flex;
}
.footer-leftblock{
    display: flex;
    color: #fff;
     align-items: baseline;
     justify-content: center;
    justify-content: space-evenly;
    font-size: 13px;
    width:486.09px ;
    color: #CBD0D3;
    height: 86px ;
    margin-bottom: 44px;
    margin-top: 44px;
}
.footer-title{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    margin-left: 90px;
}
.footer-text-padding{
    padding-bottom: 7px;
}
.footer-middle-block{
    display: flex;
    align-items: baseline;
    justify-content: center;
    justify-content: space-between;
    margin-top: 44px;
    font-size: 11px;
    color: #CBD0D3;
    margin-left: 78px;
}
.footer-right-block{
    display: flex;
    align-items: baseline;
    justify-content:flex-end; 
    margin-top: 44px;
    font-size: 11px;
    color: #CBD0D3;
    margin-left: 400px;
}
.footer-right-block-padding{
    padding-right: 33px;
}



